@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --basic-white: #ffffff;
    --special-elements: #eeeeee;
    --icons-social: #e1e1e1;

/* text */
    --text-big: #000000;
    --text-small: #283136;
    --text-buttons: #ffffff;
    --text-prompt: #444444;
    --text-contacts: #666666;

/* buttons */
    --button-red: #f8565a;
    --button-red-hover: #e74246;
    --button-red-focus: #d7373b;
    --button-green: #00ca74;
    --button-green-hover: #00bc6c;
    --button-green-focus: #00aa62;
    --button-yellow: #efc849;
    --button-yellow-hover: #eab534;
    --button-yellow-focus: #e5a722;
    --button-focus-text: rgba(255, 255, 255, 0.3);
    --button-close: rgba(251, 86, 90, 0.3);
    --button-slider-circle: #c1c1c1;
    --button-filter: #eeeeee;
    --button-filter-hover: #dfdfdf;
    --button-filter-focus: #d5d5d5;
    --button-updown: #231f20;

/* special */
    --form-border: #d7d7d7;
    --icon-basket: #a6a6a6;
    --text-placeholder: #444444;
    --shadow-img-template: rgba(0, 1, 1, 0.25);
    --shadow-modal-form: rgba(0, 0, 0, 0.4);
    --shadow-button: rgba(0, 1, 1, 0.1);
    --shadow-range-circle: rgba(0, 0, 0, 0.15);
    --border-button-result: #dbdbdb;
    --input-hover: #b4b9bb;
    --range-after: #d7dcdf;
    --range-circle-in: #ababab;
    --template-before: rgba(78, 78, 78, 0.12);
    --template-before-hover: rgba(78, 78, 78, 1);
}

/* Global */

.page__body {
  min-width: 1160px;
  font-style: normal;
  font-family: "Roboto", "Courier New", "Arial", sans-serif;
  background-color: var(--basic-white);
  margin: 0px auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */

.main__header {
  background-color: var(--special-elements);
}

.header__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 51px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__header__logo {
  width: 160px;
  object-fit: contain;
  margin: 0;
}

.main__header__logo:hover {
  opacity: 0.7;
}

.main__header__logo:focus {
  opacity: 0.3;
}

.main__navigation {
  display: flex;
  align-items: center;
  margin-left: -42px;
  margin-top: 12px;
}

.nav__item {
  margin-right: 45px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.nav__link {
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  padding: 12px 0;
}

.basket {
  align-items: center;
  display: flex;
  margin-right: 0;
  margin-top: 13px;
  position: relative;
}

.basket__link {
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 12px 0;
  display: block;
}

.basket__link::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 25px;
  vertical-align: baseline;
}

.nav__link:hover,
.basket__link:hover {
  color: var(--button-red);
}

.nav__link:focus,
.basket__link:focus {
  color: var(--text-big);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.nav__active {
  border-bottom: 2px solid var(--button-red);
}

.nav__link:active,
.basket__link:active {
  opacity: 1;
  border-bottom: 2px solid var(--button-red);
}

/*Анимированный слайдер*/

.none {
  display: none;
}

.slider {
  margin: 0;
  padding: 0;
  background-color: var(--special-elements);
}

.slider__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0;
}

.slider__two {
  min-height: 500px;
}

.slider__three {
  min-height: 500px;
}

.slider__column__text {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-bottom: 80px;
}

.text__slide--one {
  padding-bottom: 0;
}

.slider__slogan {
  color: var(--text-big);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 73px 0 27px 0;
}

.slider__text {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 55px 0;
}

.slider__animation {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: -5px 0 0 11px;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.animation__img {
  object-fit: contain;
  margin: 0;
  display: block;
}

.list__animation__buttons {
  position: absolute;
  bottom: 96px;
  left: 536px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.animation__buttons__item {
  margin: 0 17px 0 0;
}

/* all buttons */

.button {
  border-radius: 3px;
  color: var(--basic-white);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
}

.button--red {
  background-color: var(--button-red);
  padding: 17px 40px 15px 39px;
}

.button--description {
  order: 3;
  align-self: flex-start;
}

.button--circle {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: 0;
}

.button--circle--current {
  background-image: url("../img/btn-circle-current.svg");
}

.button--template {
  background-color: var(--button-red);
  padding: 18px 72px 16px 73px;
  display: block;
}

.button--red:hover,
.button--template:hover {
  background-color: var(--button-red-hover);
}

.button--red:focus {
  background-color: var(--button-red-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
  box-shadow: inset 0px 3px 0px var(--shadow-button);
}

.button--template:focus {
  background-color: var(--button-red-focus);
  color: var(--basic-white);
  box-shadow: inset 0px 3px 0px var(--shadow-button);
}

.button--slider {
  grid-column-start: 1;
  padding: 17px 54px 15px 54px;
}

.button--green {
  background-color: var(--button-green);
  padding: 17px 40px 15px 39px;
  order: 3;
  align-self: flex-start;
}

.button--green:hover {
  background-color: var(--button-green-hover);
}

.button--green:focus {
  background-color: var(--button-green-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
  box-shadow: inset 0px 3px 0px var(--shadow-button);
}

.button--yellow {
  background-color: var(--button-yellow);
  padding: 17px 40px 15px 39px;
  order: 3;
  align-self: flex-start;
}

.button--yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button--yellow:focus {
  background-color: var(--button-yellow-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
  box-shadow: inset 0px 3px 0px var(--shadow-button);
}

.button--filter {
  background-color: var(--button-filter);
  border-radius: 3px;
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  padding: 17px 89px 15px 88px;
}

.button--filter:hover {
  background-color: var(--button-filter-hover);
  color: var(--text-big);
  border: 0;
}

.button--filter:focus {
  background-color: var(--button-filter-focus);
  color: var(--text-big);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button);
  outline: none;
}

.button--sort--current {
  background-color: var(--basic-white);
  color:var(--text-big);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
}

.button--sort {
  background-color: var(--basic-white);
  color:var(--text-big);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button--down {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--icon-basket);
  mix-blend-mode: normal;
  opacity: 0.2;
}

.button--up {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--icon-basket);
  mix-blend-mode: normal;
  opacity: 0.2;
}

.button--down:hover,
.button--up:hover {
  opacity: 1;
}

.button--down:focus,
.button--updown--current {
  border-top: 10px solid var(--button-updown);
  opacity: 1;
}

.button--up:focus {
  border-bottom: 10px solid var(--button-updown);
  opacity: 1;
}

.button--sort:hover {
  mix-blend-mode: normal;
  opacity: 0.6;
}

.button--sort:focus {
  opacity: 1;
}

.button--result--current,
.button--result:active {
  background-color: var(--basic-white);
  color: var(--text-big);
  border: 3px solid var(--border-button-result);
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  padding: 14px 17px 12px 17px;
  display: block;
}

.button--result {
  background-color: var(--button-filter);
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 17px 20px 15px 20px;
  display: block;
}

.button--result--long {
  background-color: var(--button-filter);
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 17px 77px 15px 78px;
  display: block;
}

.button--result:hover,
.button--result--long:hover {
  background-color: var(--button-filter-hover);
}

.button--result:focus,
.button--result--long:focus {
  background-color: var(--button-filter-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button);
}

.button--contacts {
  padding: 17px 44px 15px 44px;
}

.button--form {
  padding: 17px 83px 15px 83px;
}

.button--close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  display: block;
  background-image: url("../img/btn-close.png");
  opacity: 0.3;
  border: 0;
  background-color: var(--basic-white);
}

.button--close:hover {
  opacity: 1;
}

.button--close:focus {
  opacity: 0.1;
}

.button--social {
  background: linear-gradient(0deg, var(--icons-social), var(--icons-social)), var(--basic-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 81px;
  height: 79px;
}

.button--social:hover {
  background: linear-gradient(0deg, var(--button-red-hover), var(--button-red-hover)), var(--basic-white);
}

.button--social:focus {
  background: linear-gradient(0deg, var(--button-red-focus), var(--button-red-focus)), var(--basic-white);
  box-shadow: inset 0px 3px 0px var(--shadow-button);
}

/* main-info */

.main__home__page {
  margin: 0 auto;
  padding: 0;
}

.home__center__wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.products {
  width: 1160px;
  margin: 0 auto;
}

.products__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.products__item {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.products__item:last-child {
  margin-right: 0;
}

.products__item__title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  order: 1;
  margin-top: 25px;
  margin-bottom: 16px;
}

.product__item__img {
  order: 0;
  object-fit: contain;
}

.products__item__text {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  order: 2;
  margin-top: 0;
  margin-bottom: 32px;
}

.description {
  width: 1160px;
  margin: 0 auto;
  border-top: 2px solid var(--special-elements);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.description__column__text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}

.description__slogan {
  color: var(--text-big);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
  margin-bottom: 0;
}

.description__text {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 33px;
}

.description__advantages {
  color: var(--text-small);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.advantages__item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../img/list.svg");
  background-repeat: no-repeat;
  background-position: 0 77%;
  margin-right: 11px;
  vertical-align: baseline;
}

.description__image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 44px;
  margin-left: 27px;
  object-fit: contain;
}

.description__quality {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 0;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.description__quality__text {
  color: var(--text-big);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 28px;
}

.quality__numerals__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.numerals__item {
  margin-top: 0;
  margin-right: 22px;
  padding: 0;
}

.numerals__item:last-child {
  margin-right: 0;
}

.numerals__item__numbers {
  color: var(--text-big);
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-top: -2px;
  margin-bottom: 0;
}

.numbers__procent {
  color: var(--text-big);
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
  margin-top: 0;
}

.numerals__item__head {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 12px;
  margin-bottom: 0;
}

.partners {
  width: 1160px;
  margin: 13px auto 80px auto;
  border-top: 2px solid var(--special-elements);
  border-bottom: 2px solid var(--special-elements);
}

.partners__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-left: 31px;
  margin-right: 37px;
  margin-top: 0;
  margin-bottom: 40px;
}

.partners__item--htmlacademy {
  margin-top: 60px;
  margin-right: 95px;
}

.partners__item--borodinsky {
  margin-top: 47px;
  margin-right: 104px;
}

.partners__item--pink {
  margin-top: 46px;
  margin-right: 120px;
}

.partners__item--mishka {
  margin-top: 52px;
}

.partners__item__img {
  opacity: 0.2;
  object-fit: contain;
}

.partners__item__link:hover .partners__item__img {
  opacity: 1;
}

.partners__item__link:focus .partners__item__img{
  opacity: 0.1;
}

/*main второй страницы*/

.main__catalog {
  margin: 0 auto;
  padding: 0;
}

.page__catalog__title {
  color: var(--text-big);
  background-color: var(--special-elements);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 108px;
  margin: 0;
}

.catalog__center__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.filter {
  margin-top: 55px;
  margin-left: 0;
  padding: 0;
}

.filter__fieldset {
  border: none;
  padding: 0;
}

/*ползунок выбора цены*/

.price__choise {
  margin: 0;
}

.price__legend {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 48px;
  margin-left: 0;
}

.range__block {
  width: 260px;
  height: 80px;
  background-color: var(--special-elements);
  position: relative;
}

.range {
  position: absolute;
  width: 205px;
  height: 2px;
  background-color: var(--button-green);
  bottom: 38px;
  left: 33px;
}

.range::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2px;
  display: block;
  background-color: var(--range-after);
  top: 0;
  right: 0;
}

.range__circle--left {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--basic-white);
  left: -15px;
  top: -10px;
  box-shadow: 0px 2px 1px var(--shadow-range-circle);
}

.range__circle--right {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--basic-white);
  left: 128px;
  top: -10px;
  box-shadow: 0px 2px 1px var(--shadow-range-circle);
}

.range__circle--left__in {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--range-circle-in);
  top: 8px;
  left: 8px;
}

.range__circle--right__in {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--range-circle-in);
  top: 8px;
  left: 8px;
}

.price__output__limit {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.price__min__text {
  margin-right: 9px;
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price__max__text {
  margin-right: 10px;
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price__limit {
  background-color: var(--special-elements);
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 80px;
  padding: 8px 15px;
  margin: 0;
  vertical-align: inherit;
}

/*radio выбор сетки*/

.grid__choise {
  margin-top: 54px;
  margin-left: 0;
}

.grid__choise__legend {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.grid__choise__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid__choise__label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 11px;
  vertical-align: text-bottom;
}

.grid__choise__input:checked ~ label::before {
  background-image: url("../img/radio-on.svg");
}

.grid__choise__input:disabled ~ .grid__choise__item {
  opacity: 0.1;
}

.grid__choise__label {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.grid__choise__item {
  margin-bottom: 15px;
  opacity: 0.4;
}

.grid__choise__item:last-child {
  margin-bottom: 0;
}

.grid__choise__item:hover {
  opacity: 1;
}

/*checkbox выбор особенностей сайта*/

.features__choise {
  margin-top: 41px;
  margin-bottom: 29px;
  margin-left: 0;
}

.features__choise__legend {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.features__choise__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__choise__label::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 13px;
  vertical-align: text-bottom;
}

.features__choise__input:checked ~ label::before {
  background-image: url("../img/checkbox-on.svg");
}

.features__choise__input:disabled {
  opacity: 0.1;
}

.features__choise__item {
  margin-bottom: 16px;
  opacity: 0.4;
}

.features__choise__label {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.features__choise__item:hover {
  opacity: 1;
}

.features__choise__item:focus {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort__column {
  margin-top: 55px;
  margin-left: 140px;
  margin-right: 0;
}

.sort__selection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 48px;
}

.sort__selection__title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.sort__selection__lists {
  padding: 0;
  margin: 6px 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.sort__selection__list--text {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort__selection__list--updown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection__item--price {
  margin-right: 27px;
  margin-left: 0;
  padding: 0;
}

.selection__item--type {
  margin-right: 24px;
  padding: 0;
}

.selection__item--name {
  margin-right: 38px;
  padding: 0;
}

.selection__item--down {
  margin-right: 18px;
  margin-top: 0;
  padding: 0;
}

.selection__item--up {
  margin-right: 0;
  padding: 0;
}

.list__template {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 758px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.template__item {
  position: relative;
  border-radius: 5px;
  border-top: 40px solid var(--template-before);
  margin-bottom: 27px;
}

.template__item:nth-child(-2) {
  margin-bottom: 0;
}

.template__item:last-child {
  margin-bottom: 0;
}

.template__img::before {
  content: "";
  width: 61px;
  height: 14px;
  background-image: url("../img/decor-circle.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: inherit;
  position: absolute;
  top: -27px;
  left: 16px;
  z-index: 5;
}

.template__item:hover {
  box-shadow: 0px 6px 15px var(--shadow-img-template);
  border-top: 40px solid var(--template-before-hover);
}

.template__modal {
  background-color: var(--special-elements);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 53px 44px 52px;
  position: absolute;
  width: 360px;
  box-sizing: border-box;
  bottom: 0;
  opacity: 0;
}

.template__item:hover .template__modal {
  opacity: 1;
}

.template__img img {
  object-fit: contain;
}

.modal__buy {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 12px 0;
}

.modal__buy:hover {
  color: var(--button-red);
}

.modal__buy:focus {
  color: var(--text-big);
  opacity: 0.3;
}

.modal__text {
  color: var(--text-contacts);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin: 0 0 32px 0;
}

.view__result__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 25px;
  margin-bottom: 60px;
}

.view__result__item {
  margin-right: 11px;
}

/* карта, контакты на карте и форма отправки письма */

.map {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.map__img {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index: -10;
  position: absolute;
}

.map__google {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
}

.map__google iframe {
  height: 416px;
  width: 100%;
  box-sizing: border-box;
}

.map__img img {
  display: block;
  margin: 0 auto;
}

.our__location {
  width: 1160px;
  margin: 0 auto;
  margin-top: 54px;
  z-index: 5;
}

.modal--form {
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--shadow-modal-form);
  padding: 63px 99px 84px 100px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-bottom: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 960px;
  box-sizing: border-box;
}

.modal--form--show {
  display: block;
  animation: bounce 0.6s;
}

.modal--error {
  animation: snake 0.6s;
}

/* анимация открытия модального окна */
@keyframes bounce {
  0% {
    transform: translate(-50%,-3300px);
  }

  30% {
    transform: translate(-50%,-1700px);
  }

  50% {
    transform: translate(-50%,-900px);
  }

  80% {
    transform: translate(-50%,-500px);
  }

  90% {
    transform: translate(-50%,-300px);
  }
}

/*анимация ошибки заполнения полей */

@keyframes snake {
  0%,
  100% {
    transform: translate(-60%,-50%);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translate(-40%,-50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-60%,-50%);
  }
}

.contacts {
  background-color: var(--basic-white);
  padding: 48px 50px 62px 50px;
  width: 319px;
  box-sizing: border-box;
}

.contacts__title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.contacts__address{
  color: var(--text-contacts);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.contacts__phone {
  margin-top: 18px;
  margin-bottom: 54px;
}

.contacts__phone__link {
  color: var(--text-contacts);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.form__head {
  color: var(--text-big);
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
}

.form__wrapper {
  margin-top: 37px;
  margin-bottom: 47px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.letter__field__name {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
}

.letter__field__email {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.letter__field__text {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.letter__field__label {
  color: var(--text-big);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: block;
  margin-bottom: 9px;
}

.letter__field__input,
.letter__field__textarea {
  border: 2px solid var(--form-border);
  color: var(--text-prompt);
  mix-blend-mode: normal;
  opacity: 0.5;
  display: block;
  padding: 16px 14px 16px 16px;
}

.letter__field__input:hover,
.letter__field__textarea:hover {
  border: 2px solid var(--input-hover);
  color: var(--text-prompt);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.letter__field__input:focus,
.letter__field__textarea:focus {
  border: 2px solid var(--text-big);
  color: var(--text-prompt);
  opacity: 1;
}

.letter__field__input:invalid {
  border: 2px solid var(--button-red-hover);
  color: var(--button-red-hover);
  opacity: 1;
}

.letter__field__input::-webkit-input-placeholder {
  color: var(--text-prompt);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.letter__field__textarea::-webkit-textarea-placeholder {
  color: var(--text-prompt);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* main-footer */

.footer__wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-top: 122px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 139px;
}

.social__list {
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  min-width: 261px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.social__item {
  margin-right: 9px;
  margin-bottom: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.footer__invitation {
  color: var(--text-big);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  order: 1;
  margin-top: 7px;
  margin-bottom: 10px;
}

.footer__motivation {
  color: var(--text-prompt);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  order: 2;
  margin-top: 0;
}
