@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --basic-white: #ffffff;
    --special-elements: #eeeeee;
    --icons-social: #e1e1e1;

/* text */
    --text-big: #000000;
    --text-small: #283136;
    --text-buttons: #ffffff;
    --text-prompt: #444444;
    --text-contacts: #666666;

/* buttons */
    --button-red: #f8565a;
    --button-red-hover: #e74246;
    --button-red-focus: #d7373b;
    --button-green: #00ca74;
    --button-green-hover: #00bc6c;
    --button-green-focus: #00aa62;
    --button-yellow: #efc849;
    --button-yellow-hover: #eab534;
    --button-yellow-focus: #e5a722;
    --button-focus-text: rgba(255, 255, 255, 0.3);
    --button-close: rgba(251, 86, 90, 0.3);
    --button-slider-circle: #c1c1c1;
    --button-filter: #eeeeee;
    --button-filter-hover: #dfdfdf;
    --button-filter-focus: #d5d5d5;

/* special */
    --background-svg: #a6a6a6;
    --form-border: #d7d7d7;
    --icon-basket: #a6a6a6;
    --text-placeholder: #444444;
    --shadow-img-template: rgba(0, 1, 1, 0.25);
    --shadow-modal-form: rgba(0, 0, 0, 0.4);
    --shadow-button-filter: rgba(0, 1, 1, 0.1);
    --border-button-result: #dbdbdb;
    --input-hover: #b4b9bb;
}

/* Global */

.page__body {
  min-width: 1160px;
  font-style: normal;
  font-family: "Roboto", "Courier New", "Arial", sans-serif;
  background-color: var(--basic-white);
  margin: 0px auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Header */

.main__header {
  background-color: var(--special-elements);
}

.header--catalog {
  padding-bottom: 108px;
}

.header__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__header__logo {
  width: 160px;
}

.main__navigation {
  display: flex;
  align-items: center;
  margin-left: -85px;
  margin-top: 10px;
}

.nav__item {
  margin-right: 45px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.nav__link{
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  padding: 12px 0;
}

.basket {
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  align-items: center;
  padding: 12px 0;
  display: flex;
  margin-top: 10px;
}

.nav__link:hover,
.basket:hover {
  color: var(--button-red);
}

.nav__link:focus,
.basket:focus {
  color: var(--text-big);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.nav__link:active,
.basket:active {
  opacity: 1;
  border-bottom: 2px solid var(--button-red);
}

/*Анимированный слайдер*/

.none {
  display: none; /*Убрать, когда всё доделаем*/
}

.slider {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
}

.slider__slogan {
  color: var(--text-big);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 75px 0 25px 0;
}

.slider__text {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0 0 55px 0;
}

.slider__img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  margin: -4px 0 0 10px;
}

/* all buttons */

.button {
  border-radius: 3px;
  color: var(--basic-white);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--red {
  background-color: var(--button-red);
  padding: 17px 40px 15px 39px;
}

.button--description {
  order: 3;
  align-self: flex-start;
}

.button--template {
  background-color: var(--button-red);
  padding: 17px 72px 15px 72px;
}

.button--red:hover,
.button--template:hover {
  background-color: var(--button-red-hover);
}

.button--red:focus {
  background-color: var(--button-red-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--template:focus {
  background-color: var(--button-red-focus);
  color: var(--basic-white);
}

.button--slider {
  grid-column-start: 1;
  padding: 17px 54px 15px 54px;
}

.button--green {
  background-color: var(--button-green);
  padding: 17px 40px 15px 39px;
  order: 3;
  align-self: flex-start;
}

.button--green:hover {
  background-color: var(--button-green-hover);
}

.button--green:focus {
  background-color: var(--button-green-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--yellow {
  background-color: var(--button-yellow);
  padding: 17px 40px 15px 39px;
  order: 3;
  align-self: flex-start;
}

.button--yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button--yellow:focus {
  background-color: var(--button-yellow-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--filter {
  background-color: var(--button-filter);
  border-radius: 3px;
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.button--filter:hover {
  background-color: var(--button-filter-hover);
  color: var(--text-big);
}

.button--filter:focus {
  background-color: var(--button-filter-focus);
  color: var(--text-big);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}

.button--sort--current {
  background-color: var(--basic-white);
  color:var(--text-big);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--sort {
  background-color: var(--basic-white);
  color:var(--text-big);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button--sort:hover {
  mix-blend-mode: normal;
  opacity: 0.6;
}

.button--sort:focus {
  opacity: 1;
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}

.button--result--current {
  background-color: var(--basic-white);
  color: var(--text-big);
  border: 3px solid var(--border-button-result);
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}

.button--result {
  background-color: var(--button-filter);
  color: var(--text-big);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}

.button--result:hover {
  background-color: var(--button-filter-hover);
}

.button--result:focus {
  background-color: var(--button-filter-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}

.button--social {
  background: linear-gradient(0deg, var(--icons-social), var(--icons-social)), var(--basic-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 81px;
  height: 79px;
  margin-right: 9px;
}

.button--social:hover {
  background: linear-gradient(0deg, var(--button-red-hover), var(--button-red-hover)), var(--basic-white);
}

.button--social:focus {
  background: linear-gradient(0deg, var(--button-red-focus), var(--button-red-focus)), var(--basic-white);
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}

/* main-info */

.page__title {
  color: var(--text-big);
  font-weight: 500px;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin-top: 78px;
}

.products {
  width: 1140px;
  margin: 0 auto auto 54px;
}

.products__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}

.products__item {
  display: flex;
  flex-direction: column;
}

.products__item__title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  order: 1;
  margin-top: 25px;
  margin-bottom: 16px;
}

.product__item__img {
  order: 0;
}

.products__item__text {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  order: 2;
  margin-top: 0;
  margin-bottom: 32px;
}

.description {
  width: 1160px;
  margin: 0 auto;
  border-top: 2px solid var(--special-elements);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.description__column__text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}

.description__slogan {
  color: var(--text-big);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
  margin-bottom: 0;
}

.description__text {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
}

.description__advantages {
  color: var(--text-small);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 23px;
}

.advantages__list {
  list-style-image: url("../img/list.svg");
  margin: 0;
}

.advantages__item {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.description__img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 23px;
  margin-left: 28px;
}

.description__quality {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 0;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.description__quality__text {
  color: var(--text-big);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.quality__numerals__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.numerals__item {
  margin-top: 0;
  margin-right: 22px;
  padding: 0;
}

.numerals__item:last-child {
  margin-right: 0;
}

.numerals__item__numbers {
  color: var(--text-big);
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 0;
}

.numbers__procent {
  color: var(--text-big);
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
  margin-top: 0;
}

.numerals__item__head {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}

.partners {
  width: 1160px;
  margin: -9px auto 80px auto;
  border-top: 2px solid var(--special-elements);
  border-bottom: 2px solid var(--special-elements);
}

.partners__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-left: 31px;
  margin-right: 43px;
  margin-top: 46px;
  margin-bottom: 28px;
  border: 3px solid green;
}

.partners__item {
  border: 3px solid red;
}

.partners__list img {
  opacity: 0.2;
}

.partners__list img:hover {
  opacity: 1;
}

/*main-info второй страницы*/

.filter legend {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__price {
  background-color: var(--special-elements);
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter input {
  color: var(--text-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.4;
}

.filter input:hover {
  opacity: 1;
}

.filter input:focus {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort__selection__title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort__selection ul {
  list-style: none;
}

.list__template {
  list-style: none;
}

.list__template li:hover {
  box-shadow: 0px 6px 15px var(--shadow-img-template);
  border-radius: 5px;
}

.template__modal {
  background-color: var(--special-elements);
}

.modal__buy {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal__buy:hover {
  color: var(--button-red);
}

.modal__buy:focus {
  color: var(--text-big);
  opacity: 0.3;
}

.modal__text {
  color: var(--text-contacts);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.view__result__list {
  list-style: none;
}

/* карта, контакты на карте и форма отправки письма */

.our__location {
  width: 1160px;
  margin: 0 auto;
}

.modal--form {
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--shadow-modal-form);
  padding: 63px 99px 84px 100px;
}

.contacts {
  background-color: var(--basic-white);
  padding: 49px 39px 47px 50px;
  border: 3px solid limegreen;
}

.contacts__title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
}

.contacts__address{
  color: var(--text-contacts);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.contacts__phone {
  color: var(--text-contacts);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 37px;
}

.form__head {
  color: var(--text-big);
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.letter__field label {
  color: var(--text-big);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.letter__field input,
.letter__field textarea {
  border: 2px solid var(--form-border);
  color: var(--text-prompt);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.letter__field input:hover,
.letter__field textarea:hover {
  border: 2px solid var(--input-hover);
  color: var(--text-prompt);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.letter__field input:focus,
.letter__field textarea:focus {
  border: 2px solid var(--text-big);
  color: var(--text-prompt);
  opacity: 1;
}

.input::-webkit-input-placeholder {
  color: var(--text-prompt);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* main-footer */

.main__footer {
  width: 1160px;
  margin: 0 auto;
  padding: 90px 0 74px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 130px;
}

.social__list {
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__invitation {
  color: var(--text-big);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  order: 1;
  margin-top: 6px;
  margin-bottom: 10px;
}

.footer__motivation {
  color: var(--text-prompt);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  order: 2;
  margin-top: 0;
}
